#content-nav {
  position: sticky;
  top: 0;
  font-family: 'Inconsolata', monospace;
  text-shadow: 1px 1px black;
}

.content-content {
  height: 88.5vh;
  width: 100vw;
}

#landing h1 {
  color: white;
  font-size: 3rem;
  text-align: left;
  padding: 20px;
}

.red {
  color: red;
}

.content-container {
  height: 88.5vh;
  width: 100vw;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.content-div {
  height: 90vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  background-position-x: 50%;
  overflow-x: hidden;
}

#landing {
  background-image: url('../../images/background.jpg');
  background-position-x: 48%;
}

#about {
  background-image: url('../../images/aboutBG.jpg');
}

.blackout {
  background-color: rgba(0, 0, 0, 0.589);
  background-size: cover;
  height: 100%;
  width: 100%;
}

#contact {
  background-image: url('../../images/contactBG.jpg');
}

.contact-content {
  color: white;
  text-align: center;
}

.contact-content h2,
p {
  margin: auto;
  width: fit-content;
}

.nav-icons {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.nav-tab {
  width: fit-content;
  margin: auto;
  display: flex;
}

h2 {
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 1rem;
}

h3 {
  width: fit-content;
  margin: auto;
  padding-top: 10%;
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

#gallery {
  min-height: 90vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  background-position-x: 50%;
  color: white;
  background-image: url('../../images/connectwork.png');
  background-repeat: repeat;
  background-size: 10%;
}

#gallery h2 {
  text-align: center;
  margin: 0px;
}

.image-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media (min-width: 321px) {
  h2 {
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 1.4rem;
  }

  h3 {
    width: fit-content;
    margin: auto;
    padding-top: 10%;
  }

  p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .content-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  .content-div {
    height: 100vh;
  }

  h2 {
    padding-top: 6vh;
    padding-bottom: 0%;
    font-size: 3rem;
  }

  h3 {
    width: fit-content;
    margin: auto;
    padding-top: 2vh;
  }

  p {
    font-size: 1.6rem;
  }

  .contact-content {
    width: 75vw;
    height: fit-content;
    padding-top: 14vh;
    margin: auto;
  }

  .nav-icons {
    width: 25vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 2vh;
  }
}
